	@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	body,
	h1,
	h2,
	h3,
	h4,
	p {
		margin: 0;
	}

	html:focus-within {
		scroll-behavior: smooth;
	}

	body {
		font-family: "Inter", sans-serif;
		min-height: 100vh;
		text-rendering: optimizeSpeed;
		line-height: 1.5;
		background-image: url(../public/background/background-image.webp);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		position: relative;
		padding-bottom: 3rem;
		overflow-x: hidden;
	}

	a:not([class]) {
		text-decoration-skip-ink: auto;
	}

	img,
	picture {
		max-width: 100%;
		display: block;
	}

	input,
	button,
	textarea,
	select {
		font: inherit;
	}

	.container {
		--max-width: 1040px;
		width: min(var(--max-width), 100% - 3rem);
		margin-inline: auto;
		padding-block: 1rem;
	}

	.help-text {
		margin: 2rem auto;
		text-align: center;
	}
